body {
  text-align: center;
}
img {
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5xp;
  margin: 15px 0 40px 0
  ;
  /* border: 2px solid #000;
  padding: 50xp 15px;
  margin: 40 px; */
}